html,
body {
    height: 100vh;
    background-color: black;
    color: #fff;
}

.canvas {
    border: 1px solid rgb(37, 37, 153);
}

#keypad {
    width: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#keypad button {
}
