html,
body {
    height: 100vh;
    background-color: black;
    color: #fff;
}

main {
    display: flex;
    margin-top: 3rem;
    gap: 2rem;
}

main section {
    display: flex;
    flex-direction: column;
}

.box {
    border: 1px solid #333;
    padding: .25rem;
}

.canvas {
    border: 1px solid #333;
}

#keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#keypad button {
    padding: 1rem .5rem;
}

td {
    border: 1px solid #333;
    padding: 0.5rem 2rem;
    min-width: 25px;
    max-width: 50px;
}

.title {
text-align: center;
}
